.card{
margin-bottom: 4%;
}

h5{
    font-family: 'Niconne', cursive;
}

p{
    font-family: 'Niconne', cursive;

}

h1{
    font-family: 'Niconne', cursive;
    text-align: center;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
}