

<h1>"Customer Reviews</h1>

<div class="card-deck">
    <div class="card">
      <img src="/assets/img/pexels-photo-89235.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">"Grandma's Recipes Saved"</h5>
        <p class="card-text">I was able to upload all of my grandmother's recipes and send them to my family to share the memories of her.</p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/pexels-photo-2103730.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">"A Genius App"</h5>
        <p class="card-text">I never would have thought of something like this to protect family legacies.</p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/pexels-photo-1640774.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">"Simple and Safe"</h5>
        <p class="card-text">All the recipes I have saved are always there whenever I need them.</p>
      </div>
    </div>
  </div>